<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>
<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>
<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>
<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>
<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>
<thead>
  <tr class="center-align">
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
</thead>

<div *ngIf="!showQuiz">
  <button (click)="startQuiz()">Start Quiz</button>
</div>
<div>
  <button (click)="loadQuizHistory()">Load Quiz History</button>
  <div *ngIf="quizHistory">
    <h2>Quiz History</h2>
    <ul>
      <li *ngFor="let history of quizHistory">
        <p>Quiz Title: {{ history.quizTitle }}</p>
        <p>Time: {{ history.startTime }}</p>
        <p>Total Points: {{ history.point }}</p>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="showQuiz">
  <div *ngIf="quiz">
    <h2>{{ quiz.quizTitle }}</h2>

    <!-- Display questions -->
    <div *ngFor="let question of quiz.question">
      <h3>{{ question.text }}</h3>

      <!-- Display options -->
      <div *ngFor="let answer of question.answers">
        <label>
          <input type="radio" name="question{{ question.id }}" [value]="answer.id"
            (change)="selectAnswer(question.id, answer.id)">
          {{ answer.text }}
        </label>
      </div>
    </div>

    <!-- Button to submit answers -->
    <button (click)="submitAnswer()">Submit Answers</button>
  </div>

  <div *ngIf="!quiz">
    <p>Loading quiz...</p>
  </div>
</div>