<main style="padding-top: 150px;">
  <div class="container mb-4">
    <!--       Detail Product-->
    <div class="row no-gutters mt-4">
      <!--               picture product-->
      <div class="col-12 col-md-7">
        <div class="row no-gutters w-100">
          <!--                       Main picture-->
          <div class="col-12 col-lg-10 flex-lg-last border-full-1px-solid border-color-a0">
            <div class="d-flex justify-content-center align-items-center w-100 px-5">
              <img src={{coursesDetail.image}} class="img-fluid" id="main-image" style="max-height:600px;">
            </div>
          </div>


        </div>
      </div>
      <!--                Options Product-->
      <div class="col-12 col-md-5">
        <div class="pt-0 pr-2 pb-2 pl-1 pl-md-5">
          <!--                       Judul-->
          <div class="mb-4 ">
            <h1>{{coursesDetail.name}}</h1>
          </div>


          <div class="mb-5 ">
            <h6 class="text-muted font-size-08 text-uppercase ">PRICE:</h6>
            <h4>{{coursesDetail.price}}</h4>
          </div>
          <!--                   Size-->
          <div class="mb-5 ">
            <h6 class="text-muted font-size-08 text-uppercase ">Type:</h6>
            <h4>{{coursesDetail.type}}</h4>
          </div>
          <!--Button-->
          <div class=" ">
            <button (click)="onAddtoCard(coursesDetail)" type="button " class="mb-1 btn py-3 px-5 bg-inverse text-color-a0 text-uppercase font-weight-bold "
              style="border-radius:0px; background-color: red; ">Add to chart</button>
            <a>
              <h6 class="text-uppercase text-muted font-size-08 "><u>Save to Wishlist</u></h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    Description / Details / shipping -->
  <div class="container">
    <div class="my-5">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-color-a1  active" data-toggle="tab" role="tab">Danh sách bài học</a>
        </li>

      </ul>
      <!-- Tab panes -->
      <div class="tab-content font-size-09" style="background-color:#fafafa">
        <div class="tab-pane fade show active px-3 py-4 text-color-a2" id="deskripsi" role="tabpanel">
          <!-- {{coursesDetail.description}} -->
          <h2><span>List courses</span></h2>
          <div style="display: flex; width: 100%; height: 382px;">
            @if(selectedVideo) {
            <video id="videoplaylist" preload="auto" tabindex="0" controls="">
              <source [src]="selectedVideo">
            </video>
            } @else {
            <video id="videoplaylist" preload="auto" tabindex="0" controls="">
              <source src="">
            </video>
            }
            <ul id="playlist">
              <div style="background-color: #333333; display: flex; color: white;
              display: flex;
              color: white;
              text-align: center;
              justify-content: center;
              padding-top: 15px;
              font-size: 20px;">Danh sách bài học</div>
              @for (play of playlist; track play.id; let i = $index) {

              <li (click)="onChangeVideo(play)">
                <a>
                  {{play.name}}
                </a>
              </li>

              }
            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="container mb-4 ">
    <h4 class="text-center text-uppercase ">You May Also Like</h4>
    <div class="row no-gutters gutter-20 mt-5 mb-20px">
      @for (courses of coursesList; track courses.id; let i = $index) {
      @if(i< 4) { <div class="col-6 col-md-3">
        <div style="border:2px solid #fafafa" class="w-100">
          <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid" src={{courses.image}} alt=" " />
          </div>
          <div class="text-center py-4 ">
            <h6>{{courses.name}}</h6>
            <h6 class="text-muted font-weight-normal ">{{courses.price}}</h6>
          </div>
        </div>
    </div>
    }

    }


  </div>
  </div>
</main>