<div class="container">
  <div class="container-xl">
    <div class="table">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4">
              <h4><b>Manage Courses</b></h4>
            </div>
            <div class="col-sm-4">
              <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Name">
            </div>
            <div style="display: flex; justify-content: flex-end;" class="col-sm-4">

              <button class="btn btn-success">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Name</th>
              <th>image</th>
              <th>price</th>
              <th>type</th>
              <th>rate</th>
              <th>view</th>
              <th>created at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (courses of filterCourses(); track courses.id; let i = $index) {
            <tr>
              <td>{{ courses.name }}</td>
              <td style="display: flex; justify-content: center; align-items: center;"><img style="width: 38px;"
                  src="{{ courses.image }}" /></td>
              <td>{{ courses.price }}</td>
              <td>{{ courses.type }}</td>
              <td>{{ courses.rate }}</td>
              <td>{{ courses.view }}</td>
              <td>{{ courses.created_at }}</td>
              <td>
                <a class="btn"><i class='fas fa-eye view'></i></a>
                <a class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>

            }
            <div class="pagination">
              <pagination-controls [(ngModel)]="currentPage" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
