<div id="blog" style="z-index: 0;" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h6>Quiz</h6>
          <div class="line-dec"></div>
        </div>
      </div>
      <div class="col-lg-12 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="col-lg-12">
          <div class="qsn-container">
            <div>
              <div class="container">
                <p class="qsn text-secondary">1. Which Language runs in a web Browser?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz1" id="" value="c"><span
                  class="text-secondary">C</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz1" id="" value="c++"> <span
                  class="text-secondary">C++</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz1" id="" value="python"> <span
                  class="text-secondary">Python</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz1" id="" value="javascript"> <span
                  class="text-secondary">JavaScript</span>
              </div>
              <div class="container">
                <p class="qsn text-secondary">2. We can use JavaScript inside an HTML file? </p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz2" id="" value="true"><span
                  class="text-secondary">True</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz2" id="" value="false"> <span
                  class="text-secondary">False</span> <br>
              </div>
              <div class="container">
                <p class="qsn text-secondary">3. How do you write "Hello World" in an alert box?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz3" id="" value="alert"><span
                  class="text-secondary">alert("Hello World")</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz3" id="" value="alertBox"> <span
                  class="text-secondary">alertBox("Hello World")</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz3" id="" value="msg"> <span
                  class="text-secondary">msg("Hello World")</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz3" id="" value="msgBox"> <span
                  class="text-secondary">msgBox("Hello World")</span>
              </div>
              <div class="container">
                <p class="qsn text-secondary">4. How do you create a function in JavaScript?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz4" id="" value="function1"><span
                  class="text-secondary">function = myFunction()</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz4" id="" value="function2"><span
                  class="text-secondary">function myFunction() </span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz4" id="" value="function3"> <span
                  class="text-secondary">function:myFunction()</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz4" id="" value="function4"> <span
                  class="text-secondary">function => function()</span>
              </div>
              <div class="container">
                <p class="qsn text-secondary">5. How do you call a function named "myFunction"?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz5" id="" value="call1"><span
                  class="text-secondary">call function myFunction()</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz5" id="" value="call2"> <span
                  class="text-secondary">call myFunction()</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz5" id="" value="call3"> <span
                  class="text-secondary">myFunction()</span> <br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz5" id="" value="call4"> <span
                  class="text-secondary">myFunction</span> <br>
              </div>
              <div class="container">
                <p class="qsn text-secondary">6. How to write an IF statement in JavaScript?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz6" id="" value="if1"><span
                  class="text-secondary">if(i==5)</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz6" id="" value="if2"><span
                  class="text-secondary"> if i == 5 then </span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz6" id="" value="if3"><span
                  class="text-secondary"> if i = 5 </span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz6" id="" value="if4"><span
                  class="text-secondary">if i = 5 then</span>
              </div>
              <div class="container">
                <p class="qsn text-secondary">7. How to write an IF statement for executing some code if "i" is NOT
                  equal
                  to 5?</p>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz7" id="" value="if1"><span
                  class="text-secondary">if(<>)</span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz7" id="" value="if2"><span
                  class="text-secondary"> if i <> 5 then </span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz7" id="" value="if3"> <span
                  class="text-secondary">if i != 5 then </span><br>
                <input class="form-check-input me-1 mb-2" type="radio" name="quiz7" id="" value="if4"><span
                  class="text-secondary">if(i !=5)</span>
              </div>
            </div>
          </div>
          <button (click)="submitQuiz()" class=" btn btn-primary text-white d-block mx-auto px-5 py-2 mt-4 fw-bold"
            id="submit">Submit</button>
        </div>
      </div>

    </div>
  </div>
</div>
